<html ng-app="studioVibes">
<head>
  <title>Studio Vibes</title>
  <!-- External Modules -->
  <script src="/js/vendor/angular/angular.min.js"></script>
  <script src="/js/vendor/angular-touch/angular-touch.min.js"></script>
  <script src="/js/vendor/angular-resource/angular-resource.min.js"></script>
  <script src="/js/vendor/satellizer/satellizer.min.js"></script>
  <script src="/js/vendor/angular-jwt/dist/angular-jwt.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


  <!-- Internal Modules -->
  <script src="/js/app.js"></script>
  <script src="/js/controllers/mainController.js"></script>
  <script src="/js/controllers/usersController.js"></script>
  <script src="/js/services/oauthKey.js"></script>
  <script src="/js/services/token.js"></script>

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="/js/vendor/animate.css/animate.min.css">
</head>
<body ng-controller="MainController as main">
  <div class="centered">
    <div ng-hide="main.isLoggedIn()">
      <h1>Studio Vibes</h1>
      <h3>Bringing vibes to the studio</h3>
      <button class="soundcloud" ng-click="main.authenticate('soundcloud')"><i class="fa fa-soundcloud"></i> Sign in with SoundCloud</button>
    </div>
      <!-- <h2>{{ main.currentUser.username }}</h2> -->
    </div>


  <div ng-show="main.isLoggedIn()">
    <nav class="navbar navbar-inverse">
      <img ng-src="{{ main.currentUser.picture }}">
      <button class="logout" ng-click="main.logout()"><i class="fa fa-sign-out fa-lg"></i> </button>
    </nav>
  </div>

<div ng-controller="UsersController as users">
  <div class="tinder" class="card">
    <ul>
      <li class="animated" ng-class="user.swiped" ng-repeat="user in users.all" ng-swipe-right="users.swipeRight(user)" ng-swipe-left="users.swipeLeft(user)">
          <img class="card-img-top" ng-src="{{ user.picture }}" alt="Card image cap">

        <!-- <h1>{{ user.username }}</h1> -->
      </li>
    </ul>
  </div>
</div>
</body>
</html>
