body {
  background: #63A2A0;
  color: #FFF;

  font-family: 'Quicksand', sans-serif;
  text-align: center;
  letter-spacing: -2px;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.navbar-inverse{
  background: #63A2A0;
  border: none;
  position: relative;
  min-height: 80;
  margin-bottom: 0px;
  border-bottom: 2px solid #fff;
  z-index: 10;
}
.navbar-inverse img{
  margin-top: 0px;
  max-width: 60px;
  border-radius: 100%;
  border: 2px solid  #CCE8E7;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px 10px;
}

.navbar-inverse .fa-sign-out{
  position: absolute;
  top: 20px;
  left: 0px;
  margin: 10px 10px;
}

img.logo {
  /*position: relative;*/
  margin-right: calc(50vw - 30px) !important;
  border: none;
  border-radius: none;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 415px;
  z-index: 2;
}

h3.logo{
  margin-top: 10px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  letter-spacing: -1.5px;
  margin-top: 0px;
}

h3 {
  margin-top: -10px;
}

button {
  font-family: 'Arial', sans-serif;
  border: 0;
  background: none;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  letter-spacing: -0.5px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

button:active {
  -webkit-box-shadow: inset 1px -1px 75px -14px rgba(198, 93, 0.75);
  -moz-box-shadow: inset 1px -1px 75px -14px rgba(198, 93, 0.75);
  box-shadow: inset 1px -1px 75px -14px rgba(198, 93, 0.75);
}

button.soundcloud {
  padding: 12px 22px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  background: #FF7700;
}


.profile{
  width: 100%;
  height: 100vh;
  background: #CCE8E7;
}

.profile ul {
  width: 100%;
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.profile li{
  display: inline-block;
  list-style: none;
  border-radius: 50%;
}
.profile img{
  border-radius: 50%;
  margin: 10px;
  }

  .profile li img {
  width: 150px;
  border-radius: 50%;
}

div.matches {
  color: #63A2A0;
  font-weight: bold;
}

.vibes {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

section{
  width: 100%;
  height: 100vh;
  background: #CCE8E7;
}

.vibes ul {
  margin: 0;
  padding: 0;
  width: 259px;
  height: 400px;
  border-radius: 10px;
  /*overflow: hidden;*/
  position: relative;
  border: 2px solid white;
  margin-top: 0;
  background: #CCE8E7;
  list-style: none;
}

.vibes li {
  position: absolute;
  /*background: blue;*/
  width: 255px;
  height: 230px;
  -webkit-user-drag: none;
  cursor: pointer;
  z-index: 100;
}

.fa-heart{
  color: #FE8588;
}

.fa-trash-o{
  color: #3B5251;
}

.vibes img {
  border-radius: 10px 10px 0px 0px;
  width: 255px;
  height: 230px;
  -webkit-user-drag: none;
}

.vibes h3 {
  background: #CCE8E7;
  color: #63A2A0;
  margin: 10px;
  height: 60px;
}

.profile {
  background: #CCE8E7;
  height: 100vh;
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
